<div class="card overflow-hidden px-15 pt-15 mt-5 sm:px-6 sm:pt-6">
  <div class="flex flex-col gap-2 mb-4 sm:flex-row sm:items-center sm:justify-between">
    <h3 class="text-lg font-semibold text-gray-800 dark:text-white/90">
      Monthly transactions
    </h3>
    <div class="flex items-start w-full gap-3 sm:justify-end">
      <app-monthly-transaction-tab
        (tabChanged)="onTabChanged($event)"
      ></app-monthly-transaction-tab>
    </div>
  </div>

  <div class="max-w-full">
    <div class="-ml-5 min-w-[650px] xl:min-w-full pl-2">
      <app-chart
        [chartType]="currentChartType"
        [transactions]="transactions"
      ></app-chart>
    </div>
  </div>
</div>
