node_modules
npm-debug.log
yarn-error.log
dist
.git
.gitignore
.env
.env.local
.docker
README.md
.vscode
.idea
.angular/cache
coverage
.scannerwork
.sonarlint
.sonar
.sonarqube
.sonar-cache
*.md
!README.md
