<div class="flex items-center gap-0.5 rounded-lg bg-gray-100 p-0.5 dark:bg-gray-900 max-w-fit">
  <button
    (click)="setSelected('monthly')"
    [class]="'px-2 py-2 font-medium rounded-md text-xs hover:text-gray-900 dark:hover:text-white whitespace-nowrap ' + getButtonClass('monthly')"
  >
    Monthly
  </button>

  <button
    (click)="setSelected('quarterly')"
    [class]="'px-2 py-2 font-medium rounded-md text-xs hover:text-gray-900 dark:hover:text-white whitespace-nowrap ' + getButtonClass('quarterly')"
  >
    Quarterly
  </button>

  <button
    (click)="setSelected('annually')"
    [class]="'px-2 py-2 font-medium rounded-md text-xs hover:text-gray-900 dark:hover:text-white whitespace-nowrap ' + getButtonClass('annually')"
  >
    Annually
  </button>

  <button
    (click)="setSelected('trends')"
    [class]="'px-2 py-2 font-medium rounded-md text-xs hover:text-gray-900 dark:hover:text-white whitespace-nowrap ' + getButtonClass('trends')"
  >
    Trends
  </button>
</div>
